body {
  font-family: sans-serif;
  background-color: WhiteSmoke;
  display: grid;
  place-content: center;
  height: 100vh;
  transition: all 500ms;
}

h1 {
  font-size: 1rem;
}

body.won {
  background-color: LemonChiffon;
}

body.won h1 {
  font-size: 5rem;
}

body.lost {
  background-color: lightslategrey;
}

body.lost h1 {
  font-size: 1rem;
}


button {
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 1rem;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: lemonchiffon;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}